<footer class="footer bg-cornflower">
  <div class="row">
    <div class="column">
      <div class="text-center">
        <a target="_blank" href="http://facebook.com/tavitiinc" title="Facebook">
           <i class="fs-normal footer__social-icon fs-normal footer__social-icon--white fa fa-facebook" aria-hidden="true"></i>
         </a>
        <a target="_blank" href="http://twitter.com/tavitiinc" title="Twitter">
          <i class="fs-normal footer__social-icon fs-normal footer__social-icon--white fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="http://www.linkedin.com/company/taviti" title="LinkedIn">
          <i class="fs-normal footer__social-icon fs-normal footer__social-icon--white fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="http://instagram.com/taviti" title="Instagram">
          <i class="fs-normal footer__social-icon fs-normal footer__social-icon--white fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="http://www.pinterest.com/tavitiinc" title="Pinterest">
          <i class="fs-normal footer__social-icon fs-normal footer__social-icon--white fa fa-pinterest" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row mt2">
    <div class="column">
      <div class="footer__copyright text-center white">
        © Taviti, Inc.
      </div>
    </div>
  </div>
</footer>
