<header>
  <div class="title-bar bg-white" data-responsive-toggle="js-navbar" data-hide-for="medium">
    <div class="title-bar-title">
      <a href="{{data.homeURL}}" class="db">
      	<img src="{{data.logoImgURL}}" class="top-bar__logo-img" alt="Taviti logo" />
      </a>
    </div>
    <button class="menu-icon primary top-bar__menu-icon--cornflower" type="button" data-toggle></button>
  </div>

  <div class="top-bar bg-white" id="js-navbar">
    <div class="top-bar-left bg-white">
      <ul class="menu bg-white">
        <li class="menu-text bg-white show-for-medium pv0">
          <a href="{{data.homeURL}}" class="db pv0">
          	<img src="{{data.logoImgURL}}" class="top-bar__logo-img" alt="Taviti logo" />
          </a>
        </li>
        <li class="bg-white">
          <input type="search" placeholder="Where?" class="top-bar__search-input bw0 shadow-0">
        </li>
        <li>
          <button type="button" class="button hide">Search</button>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="vertical medium-horizontal menu bg-white">
        <li class="bg-white">
          <a href="#0" class="nevada f6 fw4">Sign Up</a>
        </li>
        <li class="bg-white">
          <a href="#0" class="nevada f6 fw4">Log In</a>
        </li>
      </ul>
    </div>
  </div>
</header>
