<div class="row mw-none">
  <div class="column pa0">
    <img src="{{data.classHeroImg}}" class="w-100">
  </div>
</div>

<hr class="class-details__hr--shadow bw0 ma0 pa0">

<div class="row medium-unstack padding-top pt4">
  <div class="medium-8 small-12 columns columns" id="js-main">
    <main>
      <div class="row">
        <div class="medium-3 small-4 columns text-center">
          <img src="{{data.classTeacherImg}}" alt="Picture of {{data.classTeacherName}}" class="class-details__teacher-img br-100 h-auto">
          <h2 class="f5 mt2">
            {{data.classTeacherNameFirst}} {{data.classTeacherNameLast}}
          </h2>
        </div>
        <div class="medium-9 small-8 columns">
          <h1 class="f3">{{data.classTitle}}</h1>
          <h3 class="f5 fw3">
            {{data.classLocationName}} <br />
            {{data.classAddress}} <br />
            {{data.classDate}} @ {{data.classTime}}
          </h3>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="medium-3 small-12 columns mb3">
          <strong>Description</strong>
        </div>
        <div class="medium-9 small-12 columns">
          <p>{{data.classDescription1}}</p>
          <p>{{data.classDescription2}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="medium-3 small-12 columns mb3">
          <strong>About {{data.classTeacherNameFirst}}</strong>
        </div>
        <div class="medium-9 small-12 columns">
          <p>{{data.teacherAbout1}}</p>
          <p>{{data.teacherAbout2}}</p>
          <p>{{data.teacherAbout3}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="medium-3 small-12 columns mb3">
          <strong>Location</strong>
        </div>
        <div class="medium-9 small-12 columns">
          <h3 class="f5 fw3">
            {{data.classLocationName}} <br />
            {{data.classAddress}}
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <ng2-map zoom="18" scrollwheel="false" center="{{data.classAddress}}" style="min-height:400px">
            <marker position="{{data.classAddress}}"></marker>
          </ng2-map>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="column">
          <p class="show-for-medium">
            <strong>More classes with {{data.classTeacherNameFirst}}</strong>
          </p>
          <a class="show-for-small-only expanded button bg-silver" href="#0">
            <strong class="fw400 mineshaft f5">More classes with {{data.classTeacherNameFirst}}</strong>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="small-4  columns">
          <p><a href="#">{{data.classTitle}}</a></p>
        </div>
        <div class="small-3 columns">
          <p><a href="#">{{data.classDate}}<br />
          {{data.classTime}}</a></p>
        </div>
        <div class="small-2 columns text-center">
          <p><a href="#">${{data.classPrice}}</a></p>
        </div>
        <div class="small-3 columns">
          <p><a href="#">{{data.classLocationName}}<br />
          {{data.classAddress}}</a></p>
        </div>
      </div>
      <hr>
    </main>
  </div>

  <div class="medium-4 small-12 columns columns show-for-medium" data-sticky-container>
    <div class="w-100 sticky" data-sticky data-top-anchor="js-main:top">
      <aside>
        <div class="card">
          <div class="card-divider">
            <h4 class="text-center mineshaft">
              ${{data.classPrice}}
            </h4>
          </div>
          <div class="card-section text-center">
            <p>
              <strong>{{data.classTitle}}</strong> <br />
              {{data.classDate}} <br />
              {{data.classTime}}
            </p>
            <a class="button disabled class-details__btn--wide" href="#">Class Over</a>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
