.class-details__hr--shadow {
  height: 12px;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.3);
}
.class-details__teacher-img {
  max-width:100px;
}
.class-details__btn--wide {
  width: 11.25rem;
}
